body {
  width: 800px;
}

#MainMenu,
.element {
  border: 2px solid #212121;
  width: 200px;
  padding: 5px;
  background-color: rgb(116, 255, 135);
}

#MainMenu {
  width: 250px;
  background-color: transparent;
  border: none;
}

.element {
  margin-top: -7px;
  margin-left: -7px;
  position: relative;
}

.element:hover {
  background-color: rgb(29, 141, 44);
}

#sideMenu {
  display: none;
  position: absolute;
  left: 228px;
  top: 20px;
  width: 500px;
}

#LastsideMenu {
  display: none;
  position: absolute;
  left: 442px;
  top: 25px;
}

#LastsideMenu .element {
  background-color: rgb(143, 228, 217);
}

#sideMenu .element {
  background-color: antiquewhite;
}

#sideMenu .element:hover {
  background-color: rgb(162, 91, 16);
}

#LastsideMenu .element:hover {
  background-color: rgb(6, 111, 97);
}
